@{
    ViewBag.Title = "Copa Mundivox";
}

<div class="row">
    <div class="col-md-4">
        <h2>Cadastrar time </h2>
        <p>
           Crie um time que para montar o campeonato Muldivox.
        </p>
        <p>@Html.ActionLink("Criar Time", "Index", "Time", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Criar Torneio</h2>
        <p>Monte um torneio e torça para que seu time preferido seja campeão.</p>
        <p>@Html.ActionLink("Criar Torneio", "Index", "Campeonato", null, new { @class = "btn btn-default" })</p>
    </div>
</div>